<!-- Button trigger modal -->
<button
  type="button"
  class="inline-block px-6 py-2.5 bg-teal-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-teal-700 hover:shadow-lg focus:bg-teal-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-teal-800 active:shadow-lg transition duration-150 ease-in-out"
  (click)="toggleModal()"
>
  Nuevo alumno
</button>
<div
  *ngIf="showModal"
  class="modal fade overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-transparent outline-none focus:outline-none"
    >

      <!--body-->
      <div class="relative p-0 flex-auto">
        <div>
          <div class="py-0">
            <!-- <div>
                <h2 class="text-2xl font-semibold leading-tight">{{ titulo }}</h2>
              </div> -->

            <div class="mx-4 sm:-mx-0 px-4 sm:px-0 py-0 overflow-x-auto">
              <div
                class="inline-block min-w-full shadow rounded-lg overflow-hidden bg-white justify-between"
              >
                <div
                  class="flex items-start justify-between bg-teal-800 border-b-2 border-teal-200"
                >
                  <div
                    class="bg-teal-800 text-teal-300 uppercase font-semibold tracking-wider text-xs text-left px-5 py-3"
                  >
                    Ingresar nuevo alumno
                  </div>
                  <button
                    class="p-1 ml-auto bg-transparent border-0 text-black opacity-50 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    (click)="toggleModal()"
                  >
                    <span
                      class="bg-transparent text-teal-50 opacity-50 h-4 w-4 text-2xl block outline-none focus:outline-none"
                    >
                      ×
                    </span>
                  </button>
                </div>
                <form
                  class="px-5 py-3"
                  [formGroup]="formularioAlumno"
                  (ngSubmit)="(null)"
                >
                  <div class="grid xl:grid-cols-2 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="nombre"
                        id="nombre"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="nombre"
                      />
                      <label
                        for="nombre"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Nombre<span class="text-red-600"> *</span></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('nombre')?.errors?.['required'] && formularioAlumno.get('nombre')?.touched && formularioAlumno.get('nombre')?.dirty"
                      >
                        Nombre es requerido</span
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('nombre')?.errors?.['minlength'] && formularioAlumno.get('nombre')?.touched && formularioAlumno.get('nombre')?.dirty"
                      >
                        Longitud minima de 3 carácteres</span
                      >
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="apellido"
                        id="apellido"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="apellido"
                      />
                      <label
                        for="apellido"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Apellido<span class="text-red-600"> *</span></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('apellido')?.errors?.['required'] && formularioAlumno.get('apellido')?.touched && formularioAlumno.get('apellido')?.dirty "
                      >
                        Apellido es requerido</span
                      >
                    </div>
                  </div>
                  <div class="grid xl:grid-cols-3 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="number"
                        name="dni"
                        id="dni"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="dni"
                      />
                      <label
                        for="dni"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Nro Documento</label
                      >
                    </div>
                    <!-- <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="sexo"
                        id="sexo"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="sexo"
                      />
                      <label
                        for="sexo"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Sexo</label
                      >
                    </div> -->
                    <div
                      class="flex justify-between relative z-0 w-full mb-6 group"
                    >
                      <label
                        for="sexo"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Género</label
                      >
                      <div class="flex items-center mr-4 ml-4">
                        <input
                          id="sexoM"
                          type="radio"
                          value="M"
                          name="sexo"
                          class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                          formControlName="sexo"
                        />
                        <label
                          for="sexo"
                          class="ml-2 mb-2 text-sm font-sm text-gray-500 dark:text-gray-400"
                          >Masculino</label
                        >
                      </div>
                      <div class="flex items-center mr-4">
                        <input
                          id="sexoF"
                          type="radio"
                          value="F"
                          name="sexo"
                          class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                          formControlName="sexo"
                        />
                        <label
                          for="sexo"
                          class="ml-2 mb-2 text-sm font-sm text-gray-500 dark:text-gray-400"
                          >Femenino</label
                        >
                      </div>
                      <div class="flex items-center mr-8">
                        <input
                          checked
                          id="sexoO"
                          type="radio"
                          value="O"
                          name="sexo"
                          class="w-4 h-4 text-teal-600 bg-gray-100 border-gray-300 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600"
                          formControlName="sexo"
                        />
                        <label
                          for="sexo"
                          class="ml-2 mb-2 text-sm font-sm text-gray-500 dark:text-gray-400"
                          >Otre</label
                        >
                      </div>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="date"
                        name="fechaNacimiento"
                        id="fechaNacimiento"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="fechaNacimiento"
                      />
                      <label
                        for="fechaNacimiento"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Fecha de Nacimiento<span class="text-red-600">
                          *</span
                        ></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('fechaNacimiento')?.errors?.['required'] && formularioAlumno.get('fechaNacimiento')?.touched && formularioAlumno.get('fechaNacimiento')?.dirty"
                      >
                        Fecha de nacimiento es requerido</span
                      >
                    </div>
                  </div>
                  <div class="grid xl:grid-cols-2 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="tel"
                        name="telefono"
                        id="telefono"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="telefono"
                      />
                      <label
                        for="telefono"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Nro de Teléfono (123-456-7890)</label
                      >
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="direccion"
                        id="direccion"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="direccion"
                      />
                      <label
                        for="direccion"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Direccion</label
                      >
                    </div>
                  </div>
                  <div class="grid xl:grid-cols-3 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="email"
                        name="email"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="email"
                      />
                      <label
                        for="email"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Correo electrónico<span class="text-red-600">
                          *</span
                        ></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('email')?.errors?.['required'] && formularioAlumno.get('email')?.touched && formularioAlumno.get('email')?.dirty"
                      >
                        Correo electrónico es requerido</span
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('email')?.errors?.['email'] && formularioAlumno.get('email')?.touched && formularioAlumno.get('email')?.dirty"
                      >
                        Debe ingresar un correo válido</span
                      >
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="password"
                        name="password"
                        id="password"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="password"
                      />
                      <label
                        for="password"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Clave<span class="text-red-600"> *</span></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('password')?.errors?.['required'] && formularioAlumno.get('password')?.touched && formularioAlumno.get('password')?.dirty"
                      >
                        Una clave es requerida</span
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('password')?.errors?.['minlength'] && formularioAlumno.get('password')?.touched && formularioAlumno.get('password')?.dirty"
                      >
                        Longitud minima de 8 carácteres</span
                      >
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="confirmPassword"
                      />
                      <label
                        for="confirmPassword"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Confirmar clave<span class="text-red-600">
                          *</span
                        ></label
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('confirmPassword')?.errors?.['required'] && formularioAlumno.get('confirmPassword')?.touched && formularioAlumno.get('confirmPassword')?.dirty"
                      >
                        Reingresar la clave es requerido</span
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('confirmPassword')?.errors?.['minlength'] && formularioAlumno.get('confirmPassword')?.touched && formularioAlumno.get('confirmPassword')?.dirty"
                      >
                        Longitud minima de 8 carácteres</span
                      >
                      <span
                        class="mt-2 text-sm text-red-600 dark:text-red-500"
                        *ngIf="formularioAlumno.get('confirmPassword')?.errors?.['mismatch'] && formularioAlumno.get('confirmPassword')?.touched && formularioAlumno.get('confirmPassword')?.dirty"
                      >
                        Las claves no coinciden</span
                      >
                    </div>
                  </div>
                  <div class="grid xl:grid-cols-2 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <label
                        for="descripcion"
                        class="block mb-2 text-sm font-sm text-gray-500 dark:text-gray-400"
                        >Descripción</label
                      >
                      <textarea
                        id="descripcion"
                        rows="4"
                        class="block p-2.5 w-full text-sm outline-none text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-teal-900 focus:border-teal-900 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-500 dark:focus:border-teal-500"
                        placeholder=""
                        formControlName="descripcion"
                      ></textarea>
                    </div>
                    <div class="relative z-0 w-full mb-6 group">
                      <label
                        class="block mb-2 text-sm font-sm text-gray-500 dark:text-gray-400"
                      >
                        Avatar
                      </label>
                      <div class="mt-1 flex items-center">
                        <app-avatar
                          [imagen]="formularioAlumno.value.imagen"
                        ></app-avatar>
                        <div class="relative z-0 w-full mb-6 group ml-3">
                          <input
                            type="text"
                            name="imagen"
                            id="imagen"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                            placeholder=" "
                            formControlName="imagen"
                          />
                          <label
                            for="imagen"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                            >Link/URL</label
                          >
                          <p
                            id="helper-text-explanation"
                            class="mt-2 text-sm text-gray-500 dark:text-gray-400"
                          >
                            Ingrese el link al avatar creado en alguna de las
                            herramientas online existentes, como por ejemplo
                            <a
                              href="https://getavataaars.com/"
                              target="_blank"
                              class="font-medium text-teal-600 hover:underline dark:text-teal-500"
                              >getavataaars.com</a
                            >.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="grid xl:grid-cols-2 xl:gap-6">
                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="conocimientos"
                        id="conocimientos"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="conocimientos"
                      />
                      <label
                        for="conocimientos"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Conocimientos</label
                      >
                      <span
                        id="helper-text-explanation"
                        class="mt-2 text-xs text-gray-500 dark:text-gray-400"
                      >
                        Listados de lenguages, frameworks y otras herramientas
                        de desarrollo que conoce y maneja. Ingrese una lista
                        separada por comas
                      </span>
                    </div>

                    <div class="relative z-0 w-full mb-6 group">
                      <input
                        type="text"
                        name="cursos"
                        id="cursos"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                        placeholder=" "
                        formControlName="cursos"
                      />
                      <label
                        for="cursos"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                        >Cursos</label
                      >
                      <span
                        id="helper-text-explanation"
                        class="mt-2 text-xs text-gray-500 dark:text-gray-400"
                      >
                        Ingrese una lista separada por comas
                      </span>
                    </div>
                  </div> -->

                  <!--botones-->
                  <div class="px-4 py-3 text-right sm:px-6">
                    <button
                      type="button"
                      (click)="toggleModal()"
                      class="text-black bg-white outline-teal-700 outline outline-offset-0 outline-1 hover:bg-gray-200 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 mr-2"
                    >
                      Cancelar
                    </button>
                    <button
                      type="button"
                      class="text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 disabled:opacity-75 disabled:cursor-not-allowed"
                      (click)="guardarAlumno()"
                      [disabled]="formularioAlumno.invalid"
                    >
                      Guardar
                    </button>
                    <p
                      class="mt-2 text-sm text-red-600 dark:text-red-500"
                      *ngIf="formularioAlumno.invalid"
                    >
                      Los campos marcados con * son requeridos
                    </p>
                  </div>
                </form>
                <!-- <div class="w-full container mx-auto px-4 sm:px-8 break-all">
                    <h1>Resultado Reactive Form</h1>
                    <span>{{ formularioAlumno.value | json }}</span>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
